.git
.env*
**/.env*
artifacts
tmp
backend/vendor
backend/node_modules
backend/database/database.sqlite
backend/storage/app/public/*
backend/storage/logs/*
backend/tests
frontend/node_modules
frontend/dist
frontend/dist-build-*
frontend/coverage
frontend/tests
docs
**/*.log
**/*.out
**/.DS_Store
**/Thumbs.db
